{% extends "skeleton.html" %}

{% block meta_title %}{{ SITE.name }}{% endblock %}

{% block metas_base %}<meta content="follow, all" name="robots">
<meta content="{{ SITE.name }}" name="description">
<meta content="Parrot" name="author">
<meta name="Revisit-after" content="15 days">
<meta name="Description" content="{{ SITE.name }}">
<meta name="Keywords" content="Parrot, ZIK Gold Collection">
<meta name="robot" content="index,follow,all">
<meta property="fb:page_id" content="49623718343">
{% endblock %}

{% block more_js %}{{ super() }}
<script type="text/javascript">
/* <![CDATA[ */
$(window).load(function () {
    ColorChoicesSwitcher.initialize('classic', {
        'classic': {
            '#switchable-1-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/headphone_classic.png'],
            '#switchable-1-2': ['text', '{% trans %}Classic{% endtrans %}'],
            '#switchable-1-3': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/hoop_classic.png'],
            '#switchable-1-4': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/articulation_classic.png'],
            '#switchable-2-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/headphone_classic.png'],
            '#switchable-2-2': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/packaging_classic.png']
        },
        'yellow-gold': {
            '#switchable-1-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/headphone_yellow-gold.png'],
            '#switchable-1-2': ['text', '{% trans %}Yellow Gold{% endtrans %}'],
            '#switchable-1-3': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/hoop_yellow-gold.png'],
            '#switchable-1-4': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/articulation_yellow-gold.png'],
            '#switchable-2-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/headphone_yellow-gold.png'],
            '#switchable-2-2': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/packaging_yellow-gold.png']
        },
        'dark-black': {
            '#switchable-1-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/headphone_dark-black.png'],
            '#switchable-1-2': ['text', '{% trans %}Dark Black{% endtrans %}'],
            '#switchable-1-3': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/hoop_dark-black.png'],
            '#switchable-1-4': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/articulation_dark-black.png'],
            '#switchable-2-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/headphone_dark-black.png'],
            '#switchable-2-2': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/packaging_dark-black.png']
        },
        'rose-gold': {
            '#switchable-1-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/headphone_rose-gold.png'],
            '#switchable-1-2': ['text', '{% trans %}Rose Gold{% endtrans %}'],
            '#switchable-1-3': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/hoop_rose-gold.png'],
            '#switchable-1-4': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/articulation_rose-gold.png'],
            '#switchable-2-1': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/headphone_rose-gold.png'],
            '#switchable-2-2': ['image', '{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/packaging_rose-gold.png']
        }
    });
    ColorChoicesSwitcher.bind();
});
/* ]]> */
</script>
{% endblock %}

{% block base_content %}
    <div id="header-container" class="row-fluid">
        <nav id="header" class="top-bar">
            <p class="parrot_goto">
                <a href="{% trans %}http://www.parrot.com/{% endtrans %}" title="{% trans %}Go to Parrot.com{% endtrans %}"><span>Parrot</span></a>
            </p>

            <ul>
                <li class="name">
                    <h1><a href="{% trans %}http://www.parrot.com/zik/{% endtrans %}" title="{% trans %}Parrot ZIK{% endtrans %}"><span>Parrot ZIK</span></a></h1>
                </li>
                <li class="toggle-topbar"><a href="#"></a></li>
            </ul>

            <section class="menu">
                <ul class="right" id="site-menu">
                    <li><a href="">{% trans %}Design{% endtrans %}</a></li>
                    <li><a href="">{% trans %}Tuned By{% endtrans %}</a></li>
                    <li><a href="">{% trans %}Sound{% endtrans %}</a></li>
                    <li><a href="">{% trans %}Touch{% endtrans %}</a></li>
                    <li><a href="">{% trans %}Buy{% endtrans %}</a></li>
                </ul>
            </section>

            <div class="badges">
                <a class="badge-button twitter" href="https://twitter.com/parrot" title="On Twitter"><i class="icon-twitter"></i><span>On Twitter</span></a>
                <a class="badge-button facebook" href="https://www.facebook.com/Parrot" title="On Facebook"><i class="icon-facebook"></i><span>On Facebook</span></a>
                <a class="badge-button youtube" href="http://www.youtube.com/user/parrot" title="On Youtube"><i class="icon-youtube"></i><span>On Youtube</span></a>
                <span>&nbsp;</span>
            </div>
        </nav>
    </div>

    <div id="content-container">

        <div id="colors-choices" class="row-fluid block">
            <div class="content menu">
                <div class="wrap">
                    <p id="colors-choices-loading"><i class="icon-spinner icon-spin"></i></p>
                    <ul id="colors-choices-menu" class="row" style="display: none;">
                        <li id="menu-item-classic" class="columns three mobile-two"><a href="#" data-color-choiceid="classic" class="active">{% trans %}Classic{% endtrans %}</a></li>
                        <li id="menu-item-yellow-gold" class="columns three mobile-two"><a href="#" data-color-choiceid="yellow-gold">{% trans %}Yellow Gold{% endtrans %}</a></li>
                        <li id="menu-item-dark-black" class="columns three mobile-two"><a href="#" data-color-choiceid="dark-black">{% trans %}Dark Black{% endtrans %}</a></li>
                        <li id="menu-item-rose-gold" class="columns three mobile-two"><a href="#" data-color-choiceid="rose-gold">{% trans %}Rose Gold{% endtrans %}</a></li>
                    </ul>
                </div>
            </div>

            <div class="items">

                <div id="item-headphone" class="item-content part-1">
                    <div class="columns six unpadded visual">
                        <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/headphone_classic.png" id="switchable-1-1" alt="">
                    </div>
                    <div class="columns five details">
                        <h2 id="switchable-1-2">{% trans %}Classic{% endtrans %}</h2>
                        <p>{% trans %}The Parrot Zik is revealing your emotions. It merges with the body, like a technological extension of you to listen to music.{% endtrans %}</p>
                        <p class="cite"><em>&ldquo;{% trans %}slick, well round sound{% endtrans %}&rdquo;</em></p>
                        <p class="credits"><b>{% trans %}BBC Focus{% endtrans %}</b></p>
                    </div>
                </div>

                {% block colors_choices_more_slides %}
                <div id="item-hoop" class="item-content part-2">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/hoop_classic.png" id="switchable-1-3" alt="">
                    <div class="details">
                        <div class="columns five centered">
                            <h2>{% trans %}Soft material{% endtrans %}</h2>
                        </div>
                    </div>
                </div>

                <div id="item-articulation" class="item-content part-3">
                    <p class="visual"><img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/colors-choices/articulation_classic.png" id="switchable-1-4" alt=""></p>
                    <div class="details">
                        <div class="columns six">
                            <h2>{% trans %}Metal finish{% endtrans %}</h2>
                            <p>{% trans %}Adjustable, the headband plays the contrast between metals'<br>alloy and &ldquo;leather-like&rdquo; band.{% endtrans %}</p>
                            <p class="cite"><em>&ldquo;{% trans %}Despite its simple and humble design, Zik is certainly today one of our most successful products in terms of intuitive ergonomics{% endtrans %}&rdquo;</em></p>
                            <p class="credits"><b>{% trans %}Philippe Starck{% endtrans %}</b></p>
                        </div>
                    </div>
                </div>
                {% endblock %}

            </div>
        </div>

        <div id="lou-reed" class="row-fluid block">
            <div class="main-side row-fluid block">
                <div class="columns five details">
                    <div class="wrap">
                        <p class="prevline">{% trans %}Tuned by{% endtrans %}</p>
                        {#<img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/lou_reed/sign.png" alt="">#}

                        <h2>{% trans %}Lou Reed{% endtrans %}</h2>

                        <p class="cite"><em>&ldquo;{% trans %}I know how i like things to sound{% endtrans %}&rdquo;</em></p>

                        <p>{% trans %}New-York based musician, singer &amp; songwriter Lou Reed is renowned for his work with The Velvet Underground and many solo hits such as &ldquo;Perfect Day&rdquo; and &ldquo;Walk on the Wild Side&rdquo;. Lou Reed worked in his state-of-the-art studio with his experienced sound engineer and Parrot Zik acoustics designers to create an immersive sound with more presence for your headphones. You can now listen to this beautiful sound thanks to a special control on the Parrot Audio Suite app for iPhone or Android.{% endtrans %}</p>

                        <p class="text-center">
                            <a class="button black large radius popin-video" href="{% trans %}http://www.youtube.com/watch?v=fVFQcmYK3a4{% endtrans %}">{% trans %}Lou Reed’s interview for Parrot{% endtrans %} <i class="icon-caret-right"></i></a>
                        </p>
                    </div>
                </div>
                <div class="columns seven unpadded visual">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/lou_reed/logo.png" class="zik-logo" alt="">
                </div>
            </div>
            <div class="sub-side row-fluid block">
                <div class="columns six push-six unpadded visual">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/lou_reed/sign.png" alt="">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/lou_reed/mobile_visual.png" alt="">
                </div>
                <div class="columns six pull-six details">
                    <p>{% trans %}<strong>Lou Reed</strong> worked in his recording studio with <strong>Parrot Zik engineers</strong> in order to create an immersive sound with more bass and depth for your headphones. You can now listen to this beautiful sound thanks to a special control on the <strong>Parrot Audio Suite app</strong> for <strong>Iphone/Ipad or Android</strong>.{% endtrans %}</p>
                </div>
            </div>
        </div>

        <div id="anc" class="row-fluid block">
            <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/anc/visual-5.png" class="bg" alt="">
            <div class="columns six details">
                <h2>{% trans %}Active Noise Control{% endtrans %}</h2>
                <p>{% trans %}To insulate yourself from extraneous noise, Parrot has developed an ultra-high performance active noise control system which eliminates up to 98% of ambient noises.{% endtrans %}</p>
                <p>{% trans %}While traditional ANC audio headsets only use two microphones to analyse ambient noises, the Zik has four microphones located inside and outside each earpiece offering total listening comfort.{% endtrans %}</p>
            </div>
        </div>

        <div id="tested-in-new-york" class="row-fluid block">
            <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/metro/bg.jpg" alt="">
            <div class="columns six details">
                <h2>{% trans %}Zik tested in<br>the streets of New-York{% endtrans %}</h2>
                <p class="cite"><em>&ldquo;{% trans %}They're pretty good for noisy New-York{% endtrans %}&rdquo;</em></p>
                <p><a class="button black large radius popin-video" href="{% trans %}http://www.youtube.com/watch?v=--FcafLoT5w{% endtrans %}">{% trans %}Watch the testimonial{% endtrans %} <i class="icon-caret-right"></i></a></p>
            </div>
        </div>

        <div id="touch-panel" class="row-fluid block">
            <div class="row content items">

                <div class="part-item part-1">
                    <div class="wrap">
                        <div class="columns six visual">
                            <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/headphone_classic.png" id="switchable-2-1" alt="">
                        </div>
                        <div class="columns six details default">
                            <div class="slide default">
                                <h2>{% trans %}Touch control panel{% endtrans %}</h2>
                                <p>{% trans %}Parrot ZIK is fitted with an ultra-intuitive <b>touch control panel</b> on the right headphone: when connected via Bluetooth, slide your finger vertically to adjust the volume and horizontally to skip to the next track.{% endtrans %}</p>
                                <p>{% trans %}Parrot has developed a complete movement recognition algorithm designed to be simple and intuitive for the user.{% endtrans %}</p>
                            </div>
                            {% block touch_panel_more_part1 %}
                            <div class="slide adjust-volume">
                                <h2>{% trans %}Touch control panel{% endtrans %}</h2>
                                <h3>{% trans %}Adjust Volume{% endtrans %}</h3>
                                <p>{% trans %}Sliding your finger vertically on the touch sensitive control panel adjusts the volume of your music or the caller voice.{% endtrans %}</p>
                            </div>
                            <div class="slide equalizer">
                                <h2>{% trans %}Touch control panel{% endtrans %}</h2>
                                <h3>{% trans %}Equalizer{% endtrans %}</h3>
                                <p>{% trans %}The Parametric EQ is a 7 bands equalizer (Center frequencies are: 60 Hz, 150 Hz, 400 Hz, 1 kHz, 2.4 kHz, 6 kHz and 15 kHz).{% endtrans %}</p>
                                <p>{% trans %}The user can choose from among the various presets (Flat, Pop, Club, Punchy, Deep, Crystal, User) to adjust the frequencies to the style of music you are listening to.{% endtrans %}</p>
                            </div>
                            <div class="slide change-track">
                                <h2>{% trans %}Touch control panel{% endtrans %}</h2>
                                <h3>{% trans %}Change Track{% endtrans %}</h3>
                                <p>{% trans %}Sliding your finger horizontally on the touch sensitive control panel plays the next track or return to the previous one.{% endtrans %}</p>
                            </div>
                            <div class="slide smartphone-app">
                                <h2>{% trans %}Touch control panel{% endtrans %}</h2>
                                <h3>{% trans %}SmartPhone Application{% endtrans %}</h3>
                                <p>{% trans %}Parrot AUDIO SUITE allows the end-user to easily configure and modify the configuration and parameters through the iPhone/iPod/Smartphone user-interface.{% endtrans %}</p>
                            </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>

                {% block touch_panel_more_part2 %}
                <div class="part-item part-2">
                    <div class="columns six visual">
                        <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/packaging_classic.png" id="switchable-2-2" alt="">
                    </div>
                    <div class="columns six details get-it-now">
                        <h2>{% trans %}Get it now{% endtrans %}</h2>
                        <p>{% trans %}Parrot ZIK Wireless headphones made for iPod,<br>iPhone, iPad / Android smartphones: <strong>349€*</strong>{% endtrans %}</p>
                        <div class="row choices">
                            <div class="columns three mobile-two">
                                <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/mini_headphone_classic.png" alt="">
                                <p>{% trans %}Classic{% endtrans %}</p>
                            </div>
                            <div class="columns three mobile-two">
                                <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/mini_headphone_yellow-gold.png" alt="">
                                <p>{% trans %}Yellow Gold{% endtrans %}</p>
                            </div>
                            <div class="columns three mobile-two">
                                <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/mini_headphone_dark-black.png" alt="">
                                <p>{% trans %}Dark Black{% endtrans %}</p>
                            </div>
                            <div class="columns three mobile-two">
                                <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/mini_headphone_rose-gold.png" alt="">
                                <p>{% trans %}Rose Gold{% endtrans %}</p>
                            </div>
                        </div>
                        <p>
                            <a class="button black large radius" href="">{% trans %}I want it{% endtrans %} <i class="icon-caret-right"></i></a>
                            <small>* {% trans %}Recommended retail price{% endtrans %}</small>
                        </p>
                    </div>
                </div>
                {% endblock %}

            </div>
            <div class="row content">
                <p class="badges">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/badge_ios.png" alt="Made for Ipod, Iphone, Ipad">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/badge_appstore.png" alt="Available on the App store">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/badge_googleplay.png" alt="Android app on Google play">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/badge_bluetooth.png" alt="Bluetooth">
                    <img src="{{ page_relative_position }}{{ STATIC_URL }}images/theme/touch/badge_nfc.png" alt="NFC">
                </p>
            </div>
        </div>

    </div>

    <div id="footer">
        <div class="instagram-block"><a href="">
            <div class="wrap">
                <div class="wrap-2">
                    <h2>{% trans %}Join the Parrot Zik community on <span>Instagram</span>{% endtrans %}</h2>
                </div>
            </div>
        </a></div>

        <div class="social-block">
            <div class="row">
                <div class="columns six title">
                    <h3>{% trans %}Keep me informed{% endtrans %}</h3>
                </div>
                <div class="columns six frame_container">
                    <div class="wrap">
                        <iframe frameborder="0" scrolling="no" src="{% trans %}http://www.parrot.com/catalog/subscribe/usa/zik-gold-collection/?lang=en{% endtrans %}" name="form_nl_1"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns nine credits">
                    <p>{% trans %}Copyright &copy; 2013 Parrot SA. All Rights Reserved{% endtrans %} | <a href="">{% trans %}Legal Mentions{% endtrans %}</a><span class="limit"> |</span></p>
                </div>
                <div class="columns three badges">
                    <a class="badge-button twitter" href="https://twitter.com/parrot" title="On Twitter"><i class="icon-twitter"></i><span>On Twitter</span></a>
                    <a class="badge-button facebook" href="https://www.facebook.com/Parrot" title="On Facebook"><i class="icon-facebook"></i><span>On Facebook</span></a>
                    <a class="badge-button youtube" href="http://www.youtube.com/user/parrot" title="On Youtube"><i class="icon-youtube"></i><span>On Youtube</span></a>
                    <span>&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div id="lang-dropdownbox" class="twelve columns">
                    <div class="button black radius dropdown up dropdownselect" data-dropdownselect-current="{{ lang.code|lower }}">
                        <span class="selected-label">{% trans %}Choose your language{% endtrans %}</span>
                        <ul>
                            <li data-dropdownselect-value="fr"><a href="/?lang=fr">French</a></li>
                            <li data-dropdownselect-value="en_us"><a href="/?lang=en-us">US English</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
