    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName('script')[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0008/0117.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-115355-1");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>

    <script type="text/javascript">
        function country() {
            i = document.form1.pays.selectedIndex;
            if (i == 0) return;
            url = document.form1.pays.options[i].value;
            parent.location.href = url;
        }
        function web() {
            i = document.form2.websites.selectedIndex;
            if (i == 0) return;
            url2 = document.form2.websites.options[i].value;
            parent.location.href = url2;
        }
    </script>
    <!-- Google Code for Balise de remarketing -->
    <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 999798605;
        var google_conversion_label = "RQgLCIvboAQQze7e3AM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/999798605/?value=0&amp;label=RQgLCIvboAQQze7e3AM&amp;guid=ON&amp;script=0">
        </div>
    </noscript>